html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #fafafa;
}

.download-url-wrapper, .try-out__btn, hgroup.main a {
	display: none !important;
}

[data-tag*="lol-store"], [data-tag*="lol-login"], [data-tag*="lol-rso-auth"] {
	display: none !important;
}